@media screen and (min-width:1024px) {

    .nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1350px;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 25px;

    &__container{
        display: flex;
        flex-direction: row;
        width: 100%;

        position: relative;
    }

    &__ul{
        margin-left: 50px;
        position: relative;
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: center;
        gap: 25px;

        li{
            // margin-bottom: 25px;
            margin-left: 15px;

            a{
                color: $medium-gray;
                font-size: 16px;
                margin-right: 10px;

                &:hover{
                    cursor: pointer;
                }
            }

            .arrow__down{
                display: inline-block;
            }

            .arrow__down--active{
                display: none;
            }

            .arrow__up{
                display: none;
            }

            .arrow__up--active{
                display: inline-block;
            }

            .info__1{
                display: none;
            }

            .info__1--active{
                display: flex;
                flex-direction: column;

                position: absolute;
                top: 50px;
                gap: 15px;
                background-color: $almost-white;
                padding: 7px;
                border-radius: 7px;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                z-index: 1;
            }


            .info__2{
                display: none;
            }

            img{
                margin-right: 15px;
            }
        }

        .ul__buttons{
            display: flex;
            text-align: center;
            align-items: center;
            margin-top: 0;
            position: absolute;
            right: 0;

            li{
                color: $medium-gray;
                font-size: 14px;
                width: 80%;
                cursor: pointer;
            }

            .li--register{
                padding: 10px;
                border-radius: 10px;
                border: 1.5px solid $medium-gray;
            }
        }
    }

    &__close{
        display: none;
    }

    &__close--active{
        display: none;
    }

    &__menu{
        display: none;
    }

    &__menu--open{
        display: none;
    }
}


    .main__container{
        gap: 10%;
    }
    
    .info{
        margin-top: 35px;
    
        &__h1{
            font-size: 62px;
        }
    
        &__button{
            margin-bottom: 125px;
        }
    
        &__logos{
            gap: 10%;
        }
    
    }
}